// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous');
// Variables
@import 'variables';
// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $text-color;
    max-width: 100%;
    overflow-x: hidden;
}

.bg-img {
    position: relative;
    width: 100%;
    height: 603px;
    background: url("/Images/b4.jpg") center center no-repeat;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #283048, #859398); //#dc4225
        opacity: .7;
        filter: alpha(opacity=40);
        /* For IE8 and earlier */
    }
}

// //SLANTED LINE
// .slanted {
//     position:relative;
//     width: 100%;
//     height: 300px;
//     background: #fff;
//     padding: 30px;
//     margin-bottom: 100px;
// }
// .slanted:after {
//     position: absolute;
//     content: '';
//     width: 100%;
//     height: 300px;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: inherit;
//     transform-origin: top left;
//     transform: skewY(5deg);
//     z-index: -1;
// }
//  NAVBAR 
.logo {
    height: 55px;
    width: 150px;
    margin-left: 15px;
}

// .nav-img-1 {
//     height: 20px;
//     width: 30px;
// }
// .nav-img-2 {
//     height: 20px;
//     width: 23px;
// }
#nav {
    padding: 0px;
    -webkit-animation: mymove 5s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 3s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    50% {
        box-shadow: 10px 0.2px 10px $primary-color1;
    }
}

@keyframes mymove {
    50% {
        box-shadow: 10px 0.2px 10px $primary-color1;
    }
}

.nav-c {
    background: #FAFAFA !important;
    font-family: Lato;
    border-bottom: 2px solid rgba(235, 59, 90, 0.5);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    text-transform: uppercase; // border-top: 3px solid rgb(235, 59, 90);

    box-shadow : a {
        color: $primary-color2 !important;
        text-decoration: none;
    }

    ul {
        a {
            color: $primary-color2 !important;
            text-decoration: none;
        }
    }
}

:focus {
    outline: none;
}

.icon {
    background-color: #fff;
    border: 0;
    height: 49px;
    width: 39px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.icon span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: $primary-color1;
    border-radius: 2px;
    position: absolute;
    left: 10px;
    -webkit-transition: -webkit-transform 0.3s;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.icon span:first-child {
    top: 28px;
}

.icon span:nth-child(2) {
    top: 37px;
}

.icon span:last-child {
    top: 26px;
}

.icon--active span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 37px;
}

.icon--active span:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 37px;
}

.icon--active span:nth-child(2) {
    opacity: 0;
}

.icon--button {
    border-radius: 10px;
}

.icon-transition {
    -webkit-transition: -webkit-transform 0.3s;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.link-2 {
    transition: 0.4s all;
    color: $primary-color1;
    text-decoration: none;
    border-left: 2px dotted transparent;
    transform: scale(1);
}

.link-2:hover {
    border-left: 2px dotted $primary-color1;
    transform: scale(1.05);
}

//   SEARCH form-------->>>>>>welcome page
.btn-c {
    background-color: $primary-color1 !important;
    border: 0px !important;
    border-radius: 20px !important;
}

.btn-c:hover {
    color: #fff;
    background-color: $text-color !important;
    //   border-color: $primary-color1 !important;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.6s ease-in-out, -webkit-box-shadow 0.6s ease-in-out;
}

#down-arrow-1 {
    overflow-x: hidden;
    height: 300px !important;
    // width: max-width !important;
    background-color: #ededed;
}

#down-arrow-2 {
    overflow-x: hidden;
    height: 250px !important;
    // width: max-width !important;
    background-color: #fff;

    p {
        height: 100%;
    }
}

.left {
    border-left: 4px dotted $primary-color1;
}

.highlight-text {
    font-family: "Righteous";
}

.description,
.search-steps {
    display: flex;
    align-items: center;
    background-color: #ededed;
    // background-image: linear-gradient(to bottom right,#fff,#fff); 
    background-image: linear-gradient(to bottom right, #eef2f3, #ffffff);
    color: $text-color;

    .card {
        border: none !important;

        img {
            width: 100px;
            height: 100px;
            padding: 10px;
            align-self: center;
        }
    }
}

.search-steps {
    background-color: #fff !important;
    background-image: linear-gradient(to bottom right, #fff, #fff) !important;
}

.are-you {
    background-color: #ededed;

    h1 {
        color: $text-color;
    }
}

.contact {
    color: $text-color;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.contact-image {
    // max-width: 680px;
    // max-height: 830px;
    height: 100%;
    width: 100%;
}



.social {
    background-color: $primary-color2;
    list-style: none;
    width: 100%;
}

.social ul {
    align-content: center;
}
.social li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 10px;
}

.social-media li a i {
    font-size: 200px;
}

.social li a:link,
.social li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding-bottom: 1px;
    transition: all 0.5s ease;
}

.social li a:hover,
.social li a:active {
    padding: 10px;
    font-size: 120%;
    color: #fff;
    padding-bottom: 5px;
}

  
  .foot-container{
    background-color: $text-color;
    font-family: 'Lato';
    margin:20px 20px 0 20px; 
    text-transform: capitalize;
  }
  

// results page-------->>>>>>>>SRP-Search Results Page
.card-c {
    width : img {
        height: 10rem !important;
        width: 100% !important;
    }
}

.card-img-top {
    height: 200px;
    background-size: cover;
}

.display-c {
    p {
        img {
            height: 100px !important;
            width: 15px !important;
        }
    }
}

// owner form ----->>>UPLOAD ADVERTISEMENT
.form-c {
    label {
        color: $primary-color2;
    }

    input [type=file] {
        padding-bottom: 5px;
    }
}

//VIEW PROFILE
.table-c {

    td,
    th {
        text-align: center;
    }
}

.badge-c {
    color: #fff !important;
    background-color: $text-color !important;
    border: 0px !important;
    border-radius: 5px !important;
}

.badge-c:hover {
    color: #fff !important;
    background-color: $primary-color1 !important; //   border-color: $primary-color1 !important;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.6s ease-in-out, -webkit-box-shadow 0.6s ease-in-out;
}

//single display
.carousel-c {
    padding-bottom: 30px;
}

.carousel .item {
    height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 500px;
}

//SINGLE
.book {
    h5 {
        margin-bottom: 0px;
    }
}

.card-booking {
    width: 300px;
    // height: 300px;
}

.tab-c {
    background-color: #fff;
    color: $text-color;

    a {
        background-color: #fff !important;
        color: $primary-color1;
    }
}
